<section class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__top">
        <div class="footer__about">
          <div class="footer__logo"></div>
          <div class="footer__about-text">18 лет производим барбекю-комплексы, садовые грили, печи барбекю в Москве. Доставляем по России.</div>
          <a href="#" class="footer__politics">Полититка конфиденциальности</a>
        </div>
        <ul class="footer__nav">
          <li class="footer__link-wrapper"><a href="" class="footer__link">О нас</a></li>
          <li class="footer__link-wrapper"><a href="" class="footer__link">Каталог</a></li>
          <li class="footer__link-wrapper"><a href="" class="footer__link">Оплата/Доставка</a></li>
          <li class="footer__link-wrapper"><a href="" class="footer__link">Акции</a></li>
          <li class="footer__link-wrapper"><a href="" class="footer__link">Контакты</a></li>
          <li class="footer__link-wrapper"><a href="" class="footer__link">Видео/Фото</a></li>
          <li class="footer__link-wrapper"><a href="" class="footer__link">Новости</a></li>
          <li class="footer__link-wrapper"><a href="" class="footer__link">Статьи</a></li>
        </ul>
        <div class="footer__info">
          <div class="footer__time">ПН-ПТ 9:00-18:00</div>
          <div class="footer__phones">
            <a href="tel:+74957894162" class="footer__phone-link">+7 (495) 789-41-62</a>
            <a href="tel:88005508962" class="footer__phone-link">8 (800) 550-89-62</a>
          </div>
          <a href="mailto:barbecue@mail.ru" class="footer__email">barbecue@mail.ru</a>
          <div class="footer__icons">
            <div class="footer__icons-heading">Принимаем к оплате</div>
            <i class="icon icon-visa-pay-logo"></i>
            <i class="icon icon-master-card-logo"></i>
          </div>
          <div class="footer__icons">
            <div class="footer__icons-heading">Мы в соц. сетях</div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        Московская область, г. Одинцово, ул. Транспортная, д.2
        (7 км от МКАД по Минскому шоссе)
      </div>
    </div>
  </div>
</section>