<nav class="top-menu">
  <div class="container">
    <div class="top-menu__wrapper">
      <a href="index.html" class="top-menu__logo"></a>
      <ul class="top-menu__nav">
        <li class="top-menu__nav-item"><a class="active" href="about.html">О нас</a></li>
        <li class="top-menu__nav-item"><a href="catalog.html">Каталог</a></li>
        <li class="top-menu__nav-item"><a href="delivery.html">Оплата/Доставка</a></li>
        <li class="top-menu__nav-item"><a href="contacts.html">Контакты</a></li>
        <li class="top-menu__nav-item more">
          <a onclick="toggleNavMore()" href="#">Еще</a>
          <div class="top-menu__nav-dropdown">
            <ul>
              <li><a href="discounts.html">Акции</a></li>
              <li><a href="news.html">Новости</a></li>
              <li><a href="news.html">Статьи</a></li>
              <li><a href="media.html">Видео и фото</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="top-menu__icon-nav">
        <div onclick="toggleDirectorModal()" class="top-menu__icon"><i class="icon icon-pencil"></i></div>
        <div onclick="toggleCallbackModal()" class="top-menu__icon"><i class="icon icon-phone-receiver"></i></div>
        <div class="top-menu__icon">
          <i onclick="toggleSearchForm()" class="icon icon-search"></i>
          <div class="top-menu__search-wrapper">
            <i class="icon icon-search top-menu__search-inner-icon"></i>
            <input type="text" class="top-menu__search-input" placeholder="Поиск по сайту...">
            <input type="submit" class="button top-menu__search-button" value="Искать">
          </div>
        </div>
      </div>
      <div class="top-menu__info">
        <div class="top-menu__schedule">
          9:00 22:00 ежедневно
        </div>
        <div class="top-menu__tel"><a href="tel:+74957253632">+7 (495) 725-36-32</a></div>
      </div>
      <div class="top-menu__cart">
        <div class="top-menu__cart-icon">
          <i class="icon icon-shopping-cart"></i>
          <div class="top-menu__cart-quantity">3</div>
        </div>
        <div class="top-menu__cart-text">
          <div class="top-menu__cart-heading">Покупки</div>
          <div class="top-menu__cart-price">85 800 р.</div>
        </div>
      </div>
    </div>
  </div>
</nav>