<nav class="top-menu">
  <div class="container">
    <div class="top-menu__wrapper">
      <div class="top-menu__logo"></div>
      <ul class="top-menu__nav">
        <li class="top-menu__nav-item"><a class="active" href="#">О нас</a></li>
        <li class="top-menu__nav-item"><a href="#">Каталог</a></li>
        <li class="top-menu__nav-item"><a href="#">Оплата/Доставка</a></li>
        <li class="top-menu__nav-item"><a href="#">Контакты</a></li>
        <li class="top-menu__nav-item more active">
          <a onclick="toggleNavMore()" href="#">Еще</a>
          <div class="top-menu__nav-dropdown">
            <ul>
              <li><a href="#">Акции</a></li>
              <li><a href="#">Новости</a></li>
              <li><a href="#">Статьи</a></li>
              <li><a href="#">Видео и фото</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="top-menu__icon-nav">
        <div onclick="toggleDirectorModal()" class="top-menu__pen-icon"></div>
        <div onclick="toggleCallbackModal()" class="top-menu__phone-icon"></div>
        <div onclick="toggleSearchForm()" class="top-menu__search-icon">
          <div class="top-menu__search-wrapper">
            <span class="top-menu__search-inner-icon"></span>
            <input type="text" class="top-menu__search-input" placeholder="Поиск по сайту...">
            <input type="submit" class="top-menu__search-button" value="Искать">
          </div>
        </div>
      </div>
      <div class="top-menu__info">
        <div class="top-menu__schedule">
          9:00 22:00 ежедневно
        </div>
        <div class="top-menu__tel"><a href="tel:+74957253632">+7 (495) 725-36-32</a></div>
      </div>
      <div class="top-menu__card">
        <div class="top-menu__card-icon">
          <div class="top-menu__card-quantity">3</div>
        </div>
        <div class="top-menu__card-text">
          <div class="top-menu__card-heading">Покупки</div>
          <div class="top-menu__card-price">85 800 р.</div>
        </div>
      </div>
    </div>
  </div>
</nav>