.audio {
  position: relative;
  padding-bottom: 38rem;
  background-color: #19181b;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('/img/audio-bg.jpg') left bottom no-repeat;
    opacity: 0.24
  }
  &__wrapper {
    position: relative;
    padding-top: 8rem;
    &:before {
      content: '\e82f';
      font-family: 'barbecue';
      position: absolute;
      top: -4rem;
      right: 0;
      font-size: 15rem;
      color: #27262b;
      transform: rotate(180deg);
      text-shadow: 0 0 5rem rgba(#000, 0.24);
    }
    &:after {
      content: '';
      position: absolute;
      top: 3rem;
      left: 1rem;
      width: 40rem;
      height: 16.5625rem;
      background: url('/img/audio-logo.png') center center no-repeat;
      background-size: cover;
    }
  }
  &__header {
    position: relative;
    z-index: 1;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    position: relative;
    max-width: 43.75rem;
    padding-left: 7.5rem;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 4.875rem;
      height: 4.875rem;
      background: url('/img/audio-icon.png') center center no-repeat;
      background-size: cover;
    }
  }
  &__heading {
    color: #fff;
    font-family: 'Museo Cyrl', serif;
    font-weight: 900;
    font-size: 3.75rem;
  }
  &__hint {
    font-size: 1.375rem;
    color: #fff;
    font-weight: 500;
  }
  &__text {
    max-width: 25rem;
    font-size: 1.125rem;
    color: #d9a55a;
    font-weight: 300;
    line-height: 1.875rem;
  }
  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      width: 35rem;
      height: 35rem;
      border-radius: 50%;
      border: 1px solid rgba(#fff, 0.24);
    }
  }
  &__micro {
    width: 22.375rem;
    height: 31.25rem;
    background: url('/img/audio-micropng.png') center center no-repeat;
    background-size: cover;
  }
  &__content-wrapper {
    position: relative;
    margin-top: 4.875rem;
    height: 18.75rem;
    width: calc(100% - 22.375rem);
    padding: 4rem 5rem 0 7.5rem;
    background-color: #27262b;
    &:after {
      content: '';
      position: absolute;
      right: -5rem;
      top: -5rem;
      width: 28rem;
      height: 11.1875rem;
      background: url('/img/audio-text.png') center center no-repeat;
      background-size: cover;
    }
  }
  &__name {
    margin-bottom: 0.75rem;
    font-size: 1.875rem;
    color: #fff;
    font-weight: 500;
  }
  &__title {
    color: #d9a55a;
    font-size: 1rem;
    font-weight: 300;
  }
  &__music {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }
  &__play {
    position: relative;
    margin-right: 1.5rem;
    width: 2rem;
    height: 2.25rem;
    background: url('/img/audio-play.png') center center no-repeat;
    background-size: cover;
    cursor: pointer;
    &:hover:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1px;
      height: 1px;
      box-shadow: 0 0 2.5rem 0.5rem rgba(#d9772e, 0.45);
    }
  }
  &__stop {
    position: relative;
    margin-right: 2.25rem;
    width: 1.25rem;
    height: 2rem;
    background-size: cover;
    cursor: pointer;
    display: none;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 0.25rem;
      height: 100%;
      background-color: #fff;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      width: 0.25rem;
      height: 100%;
      background-color: #fff;
    }
    &:hover:before {
      box-shadow: 0 0 2rem 0.25rem rgba(#d9772e, 0.45);
    }
    &:hover:after {
      box-shadow: 0 0 2rem 0.25rem rgba(#d9772e, 0.45);
    }
  }
  &__progress {
    position: relative;
    width: calc(100% - 4rem);
    height: 2.875rem;
    background: url('/img/audio-progress.png') left center no-repeat;
  }
  &__progress-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    background: url('/img/audio-progress.png') left center no-repeat;
    mix-blend-mode: screen;
    filter: saturate(1000%) hue-rotate(150deg);
  }
}