.constructor {
  padding-top: 9rem;
  padding-bottom: 14rem;
  background: #1f1e22 url('/img/constructor-bg.jpg') top left no-repeat;
  &__wrapper {
    display: flex;
  }
  &__image {
    position: relative;
    margin-left: -4.6rem;
    margin-bottom: 1.5rem;
    width: 37.4375rem;
    height: 46.125rem;
    background: url('/img/constructor-img.png') center center no-repeat;
    background-size: cover;
    &:before {
      content: '';
      position: absolute;
      left: -6rem;
      top: 1rem;
      border: transparent;
      border-top: 1px solid rgba(#fff, 0.22);
      border-radius: 50%;
      width: 56rem;
      height: 56rem;
      transform: rotate(-45deg);
    }
  }
  &__hint {
    display: flex;
    width: 26.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #cab19d;
    &:before {
      content: '\e80d';
      margin-right: 2.5rem;
      font-family: barbecue;
      color: #d19056;
      font-size: 1.75rem;
    }
  }
  &__slider {
    width: 43.5rem;
    padding-left: 2rem;
  }
  &__slide {
    width: 43.5rem;
    padding: 9.75rem 3rem 4rem 3rem;
  }
  &__head {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  &__pretext {
    margin-right: 3rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.6px;
  }
  &__step {
    color: #bc9a6b;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    & > span {
      font-size: 2.25rem;
      letter-spacing: 0.9px;
    }
  }
  &__heading {
    margin-bottom: 5rem;
    font-family: 'Museo Cyrl', serif;
    font-size: 3.75rem;
    font-weight: 900;
    color: #fff;
  }
  &__variants {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
  }
  &__variant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
    height: 15.625rem;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    border: 0.25rem solid transparent;
    box-shadow: 0 0 65px 8px rgba(20, 19, 23, 0.82);
    background-color: #1f1e22;
    transition: border 0.2s, box-shadow 0.2s;
    cursor: pointer;
    &:hover, &.active {
      border: 0.25rem solid #d9a55a;
      box-shadow: 0 0 65px 8px rgba(20, 19, 23, 0.82), 0 0 65px 8px rgba(#d9a55a, 0.2) inset;
    }
  }
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 4rem;
    color: #d19056;
    & > img {
      width: 4.5rem;
      height: 3.375rem;
    }
    & > i {
      margin-right: 1rem;
    }
  }
  &__button {
    position: relative;
    width: 100%;
    height: 5.375rem;
    font-size: 1.5rem;
    &:hover {
      text-shadow: 0 0 1rem #a58860;
      &:after {
        transform: translateX(5.375rem);
      }
      &:before {
        transform: translateX(5.825rem) rotate(-135deg);
      }
    }
    &:before {
      content: '';
      position: absolute;
      width: 0.625rem;
      height: 0.625rem;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: translateX(5.45rem) rotate(-135deg);
      transition: transform 0.2s;
    }
    &:after {
      content: '';
      position: absolute;
      width: 1.75rem;
      height: 2px;
      background-color: #fff;
      transform: translateX(5rem);
      transition: transform 0.2s;
    }
  }
}