.contacts {
  position: relative;
  margin-top: -71px;
  padding-top: calc(5.125rem + 71px);
  padding-bottom: 9.75rem;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('/img/notfound-bg.jpg') left bottom no-repeat;
    opacity: 0.28;
    mix-blend-mode: screen;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: url('/img/gifts-bg.jpg') right top no-repeat;
    opacity: 0.39;
    mix-blend-mode: screen;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    margin-bottom: 2.5rem;
    font-size: 2.25rem;
    color: #fff;
    font-weight: 900;
  }
  &__info {
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 12.5rem;
    &:nth-of-type(3){
      width: 18.5rem;
    }
  }
  &__item-icon {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    color: #575461;
  }
  &__item-title {
    margin-bottom: 1.5rem;
    color: #d9a55a;
    font-size: 1.375rem;
    font-weight: 500;
  }
  &__text {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.875rem;
    & > a {
      color: #fff;
    }
  }
  &__title {
    margin-bottom: 4rem;
    position: relative;
    font-size: 1.875rem;
    color: #fff;
    font-weight: 500;
    & > span {
      position: absolute;
      color: #d7a359;
      font-size: 1.125rem;
      font-weight: 300;
      transform: translate(0.5rem, -0.5rem);
    }
  }
  &__map-wrapper {
    margin-bottom: 7rem;
    display: flex;
    background-color: #27262b;
    box-shadow: 1rem 1rem 6rem 1rem rgba(#000, 0.25);
  }
  &__map {
    width: 43.25rem;
    height: 36.375rem;
    background: url('/img/contacts-map.jpg') center center no-repeat;
    background-size: cover;
  }
  &__nav {
    flex-grow: 1;
    padding: 4.5rem 7rem 5rem 5rem;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    width: 9rem;
    height: 3.5rem;
    &:not(.active) {
      background: transparent;
      border: 2px solid #d9a55a;
      box-shadow: none;
      &:hover {
        border-image: linear-gradient(to right, #efac64, #fc6d06) 1;
        box-shadow: 0 0.25rem 1.25rem 0.25rem rgba(#bf5a00, 0.24);
      }
    }
  }
  &__addresses-title {
    color: #d7a359;
    font-size: 1.375rem;
    font-weight: 500;
  }
  &__addresses-wrapper {
    margin-top: 2.5rem;
    overflow: hidden;
    max-height: 20.5rem;
  }
  &__addresses {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    font-size: 1.125rem;
    font-weight: 300;
  }
  &__address {
    margin-bottom: 1.5rem;
    color: #d9a55a;
    span {
      color: #95929b;
    }
  }
  &__form-wrapper {
    margin-bottom: 8rem;
    position: relative;
    padding-left: 18.75rem;
  }
  &__form-icon {
    position: absolute;
    left: 0;
    top: 0;
    background: url('/img/contact-form-img.png') center center no-repeat;
    background-size: cover;
    width: 10.75rem;
    height: 10.75rem;
  }
  &__form-heading {
    margin-bottom: 5rem;
    font-size: 3rem;
    color: #fff;
    font-family: 'Museo Cyrl', serif;
    font-weight: 900;
  }
  &__row {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
  }
  &__input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d9a55a;
    width: 26.375rem;
    height: 2.5rem;
    font-family: 'Futura PT', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1.125rem;
    &::placeholder {
      font-size: 1.125rem;
      color: rgba(#fff, 0.7);
    }
  }
  &__textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #d9a55a;
    width: 100%;
    font-family: 'Futura PT', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1.125rem;
    &::placeholder {
      font-size: 1.125rem;
      color: rgba(#fff, 0.7);
    }
  }
  &__form-footer {
    margin-top: 5rem;
    display: flex;
  }
  &__form-button {
    margin-right: 3rem;
    width: 26.375rem;
    height: 4.4375rem;
  }
  &__form-hint {
    width: 21rem;
    color: #d9a55a;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}