$animation-duration: 10s;
.main {
  position: relative;
  padding-bottom: 1.5rem;
  padding-top: 4.4375rem;
  margin-top: -4.4375rem;
  display: flex;
  background: #1e1d21 url('/img/main-bg.png') top right no-repeat;
  background-size: 65% 100%;
  @supports (background-blend-mode: color-burn) {
    background: #1e1d21 url('/img/main-bg.jpg') top right no-repeat;
    background-size: 65% 100%;
    background-blend-mode: color-burn;
  }

  &__wrapper {
    position: relative;
    display: flex;
    padding-top: 2rem;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }
  &__nav-item {
    margin-bottom: 2.75rem;
    cursor: pointer;
    &:hover, &.active {
      &:after {
        content: '';
        position: absolute;
        left: 1.65rem;
        width: 0;
        height: 0;
        box-shadow: 0 0 5rem 1rem #d9772e;
        transform: translateY(-4.5rem)
      }
      .main__nav-icon {
        color: #fff;
      }
    }
    &.active {
      &:before {
        transform: translateY(2rem) rotate(-135deg);
        transition-delay: 1.15s;
      }
      .main__nav-slide {
        visibility: visible;
        animation: mainSlideShow 1.25s 1 ease-in-out;
        opacity: 1;
        &:before {
          width: 4rem;
          transition-delay: 1.15s;
        }
      }
      .main__nav-menu {
        opacity: 1;
        transition: opacity 0.2s;
        transition-delay: 1.25s;
      }

    }
    &:before {
      content: '';
      position: absolute;
      left: 5rem;
      width: 7px;
      height: 7px;
      border-right: 2px solid #eda55e;
      border-top: 2px solid #eda55e;
      transform: translateY(1.5rem) rotate(45deg);
      transition: transform 0.2s;
      transition-delay: 0.25s;
    }
    &:nth-child(1){
      .main__nav-slide {
        transform-origin: 0 2.6rem;
        &:before {
          top: 2.8rem;
        }
      }
    }
    &:nth-child(2){
      .main__nav-slide {
        transform-origin: 0 12rem;
        &:before {
          top: 12.4rem;
        }
      }
    }
    &:nth-child(3){
      .main__nav-slide {
        transform-origin: 0 22rem;
        &:before {
          top: 21.8rem;
        }
      }
    }
    &:nth-child(4){
      .main__nav-slide {
        transform-origin: 0 32rem;
        &:before {
          top: 31.4rem;
        }
      }
    }
    &.no-menu:before {
      display: none;
    }
    &_long:hover:after, &_long.active:after {
      transform: translateY(-6.5rem)
    }
  }
  &__nav-icon {
    font-size: 2.5rem;
    color: #d19056;
    transition: all 0.2s;
  }
  &__nav-text {
    margin-top: .75rem;
    max-width: 6.5rem;
    font-size: 1.125rem;
    color: #fff;
  }
  &__nav-slide {
    position: absolute;
    left: 148px;
    top: 71px;
    z-index: 100;
    width: calc(100% - 148px);
    height: calc(100% - 10rem);
    visibility: hidden;
    transform-origin: 0 0;
    animation-fill-mode: forwards;
    padding-top: 5.5rem;
    padding-left: 6rem;
    background-color: #d9a55a;
    cursor: auto;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    &:before {
      content: '';
      position: absolute;
      left: -1.5rem;
      width: 0;
      height: 2px;
      background-color: #fff;
      transition: width 0.25s;
    }
    &_kebab {
      background: #d9a55a url('/img/main-menu-bgs/kebab.png') bottom right no-repeat;
      @supports (background-blend-mode: multiply) {
        background: #d9a55a url('/img/main-menu-bgs/kebab.jpg') bottom right no-repeat;
        background-blend-mode: multiply;
      }
      background-size: 60% 90%!important;
    }
    &_fireplaces {
      background: #d9a55a url('/img/main-menu-bgs/fireplaces.jpg') bottom right no-repeat;
      background-size: 90% 100%!important;
    }
    &_barbecue {
      background: #d9a55a url('/img/main-menu-bgs/barbecue.jpg') bottom right no-repeat;
      background-size: 90% 100%!important;
    }
    &_houses {
      background: #d9a55a url('/img/main-menu-bgs/childhouses.png') bottom right no-repeat;
      background-size: 60% 80%!important;
    }
  }
  &__nav-menu {
    font-size: 1.375rem;
    list-style-type: none;
    opacity: 0;
  }
  &__nav-link {
    margin-bottom: 1rem;
    a {
      position: relative;
      color: #1f1e22;
      font-weight: 500;
      &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #fff;
        transition: width 0.2s;
      }
      &:hover, &.active {
        color: #fff;
        &:after {
          width: 100%;
        }
      }
    }
  }
  &__slider {
    position: relative;
    padding-left: 6rem;
    max-width: calc(100% - 7.5rem);
  }
  &__slider-nav {
    position: absolute;
    top: 3rem;
    left: 9.5rem;
    z-index: 99;
  }
  &__slider-wrapper {
    max-width: 100%;
  }
  &__slide {
    position: relative;
    padding-bottom: 10rem;
    padding-top: 10.5rem;
    padding-left: 3.8rem;
    overflow: hidden;
  }
  &__slide-text {
    display: inline-block;
    max-width: 28.375rem;
  }
  &__slide-pretext {
    margin-bottom: 1.7rem;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    color: #d38a4a;
    letter-spacing: 0.8px;
  }
  &__slide-heading {
    margin-bottom: 2rem;
    font-family: 'Museo Cyrl', serif;
    font-weight: 900;
    font-size: 2.625rem;
    color: #fff;
  }
  &__slide-more {
    margin-bottom: 3rem;
    max-width: 22rem;
    color: #cab19d;
    font-size: 1.125rem;
    line-height: 1.7;
    font-weight: 300;
  }
  &__slide-image {
    display: inline-block;
    &_houses {
      & > img {
        position: absolute;
        top: 3rem;
        right: -2rem;
      }
    }
    &_fireplace {
      & > img {
        position: absolute;
        top: 10rem;
        right: 0;
      }
    }
    &_gifts {
      & > img {
        position: absolute;
        top:2rem;
        right: -10rem;
      }
    }
  }
  &__anim {
    position: absolute;
    &_1 {
      top: 50px;
      right: 179px;
      animation: anim6 infinite $animation-duration ease;
    }
    &_2 {
      top: 307px;
      right: 127px;
      animation: anim5 infinite $animation-duration ease;
    }
    &_3 {
      top: 334px;
      right: 214px;
      animation: anim1 infinite $animation-duration ease;
    }
    &_4 {
      top: 329px;
      right: 150px;
      animation: anim3 infinite $animation-duration ease;
    }
    &_5 {
      top: 338px;
      right: 332px;
      animation: anim2 infinite $animation-duration ease;
    }
    &_6 {
      top: 338px;
      right: 82px;
    }
    &_7 {
      top: 465px;
      right: 84px;
      animation: anim4 infinite $animation-duration ease;
    }
    &_8 {
      top: 406px;
      right: 334px;
    }
    &_9 {
      top: 445px;
      right: 325px;
    }
  }
  $fireColor: rgb(255,80,0);
  $fireColorT: rgba(255,80,0,0);
  $dur: 1s;
  $blur: 0.03em;
  $fireRad: 3em;
  $parts: 30;
  $partSize: 5em;
  &__fire {
    position: absolute;
    z-index: 1000;
    right: 12rem;
    top: 22rem;
    font-size: 24px;
    filter: blur($blur);
    width: 14rem;
    height: 8rem;
  }
  &__fire-particle {
    animation: rise $dur ease-in infinite;
    background-image: radial-gradient($fireColor 20%,$fireColorT 70%);
    border-radius: 50%;
    mix-blend-mode: screen;
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: $partSize;
    height: $partSize;
    // spread particles out in time and x-position to get desired effect
    @for $p from 1 through $parts {
      &:nth-of-type(#{$p}) {
        animation-delay: $dur * random();
        left: calc((100% - #{$partSize}) * #{($p - 1)/$parts});
      }
    }
  }
}


@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-5rem) scale(0);
  }
}

@keyframes mainSlideShow {
  0% {
    transform: scale(0, 0.005);
    opacity: 0;
  }
  50% {
    transform: scale(1, 0.005);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes anim1 {
  0% {
    transform: translateY(-30px)
  }
  10% {
    transform: translateY(-30px)
  }
  20% {
    transform: translateY(0)
  }
  90% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-30px)
  }
}

@keyframes anim2 {
  0% {
    transform: translateX(-50px)
  }
  18% {
    transform: translateX(-50px)
  }
  30% {
    transform: translateX(0)
  }
  80% {
    transform: translateX(0)
  }
  90% {
    transform: translateX(-50px)
  }
  100% {
    transform: translateX(-50px)
  }
}
@keyframes anim3 {
  0% {
    transform: translateX(50px)
  }
  18% {
    transform: translateX(50px)
  }
  30% {
    transform: translateX(0)
  }
  80% {
    transform: translateX(0)
  }
  90% {
    transform: translateX(50px)
  }
  100% {
    transform: translateX(50px)
  }
}

@keyframes anim4 {
  0% {
    transform: translateY(40px)
  }
  18% {
    transform: translateY(40px)
  }
  30% {
    transform: translateY(0)
  }
  80% {
    transform: translateY(0)
  }
  90% {
    transform: translateY(40px)
  }
  100% {
    transform: translateY(40px)
  }
}

@keyframes anim5 {
  0% {
    transform: translateY(-40px)
  }
  28% {
    transform: translateY(-40px)
  }
  40% {
    transform: translateY(0)
  }
  70% {
    transform: translateY(0)
  }
  80% {
    transform: translateY(-40px)
  }
  100% {
    transform: translateY(-40px)
  }
}

@keyframes anim6 {
  0% {
    transform: translateY(-50px)
  }
  38% {
    transform: translateY(-50px)
  }
  50% {
    transform: translateY(0)
  }
  60% {
    transform: translateY(0)
  }
  70% {
    transform: translateY(-50px)
  }
  100% {
    transform: translateY(-50px)
  }
}