.map {
  position: relative;
  padding-bottom: 12rem;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.24;
    background: url('/img/map-bg.jpg') right top no-repeat;
  }
  &__wrapper {

  }
  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    &:before {
      content: '\e82c';
      position: absolute;
      left: 0;
      top: 0;
      font-family: 'barbecue';
      color: #b48a4d;
      font-size: 3.5rem;
    }
  }
  &__heading {
    width: 17.5rem;
  }
  &__title {
    position: relative;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    color: #fff;
    font-family: 'Museo Cyrl', serif;
    font-weight: 900;
  }
  &__hint {
    font-size: 1.125rem;
    color: #fff;
    font-weight: 500;
  }
  &__text {
    width: 31.25rem;
    color: #d9a55a;
    font-size: 1.125rem;
    line-height: 1.875rem;
  }
  &__map {
    position: relative;
    width: 100%;
    height: 40.5rem;
    background: url('/img/map-map.png') center bottom no-repeat;
  }
  &__point {
    position: absolute;
    height: 3rem;
    width: 3rem;
    &_1 {
      top: 10.8rem;
      left: 13.4rem;
    }
    &_2 {
      top: 13.2rem;
      left: 21.7rem;
    }
    &_3 {
      top: 15.7rem;
      left: 19.2rem;
    }
    &_4 {
      top: 14rem;
      left: 36.8rem;
    }
    &_5 {
      top: 16.4rem;
      left: 33.2rem;
    }
    &_6 {
      top: 22rem;
      left: 37.4rem;
    }
    &_7 {
      top: 11.4rem;
      left: 48rem;
    }
    &:hover {
      .map__alert {
        visibility: visible;
        opacity: 1;
      }
      .map__icon {
        color: #e2b778;
      }
    }
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 0;
      box-shadow: 0 0 16px 8px rgba(#000, 0.55);
    }
  }
  &__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  &__alert {
    visibility: hidden;
    position: absolute;
    bottom: 4rem;
    z-index: 5;
    left: calc(50% - 0.1rem);
    display: flex;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    width: 20.5rem;
    height: 11.5rem;
    opacity: 0;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 2rem 2rem 5rem 1rem rgba(#000, 0.7);
    transform: translateX(-50%);
    transition: opacity 0.4s;
    &:before {
      content: '';
      position: absolute;
      left: calc(50% - 1rem);
      bottom: -2rem;
      border: 1rem solid transparent;
      border-top: 1.5rem solid #fff;
    }
  }
  &__alert-title {
    margin-bottom: 0.5rem;
    color: #b48a4d;
    font-size: 1.375rem;
    font-weight: 900;
  }
  &__alert-address {
    font-size: 1.125rem;
    font-size: 1.125rem;
    color: #000;
  }
  &__footer {
    position: relative;
    margin-top: -3.5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 6.25rem;
    padding-right: 9.375rem;
    &:before {
      content: '\e80d';
      position: absolute;
      left: 2rem;
      top: 0;
      font-family: 'barbecue';
      color: #fff;
      font-size: 1.5rem;
    }
  }
  &__info {
    width: 22.125rem;
    color: #b48a4d;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-style: italic;
  }
  &__companies {
    width: 28.125rem;
    font-weight: 900;
    font-size: 1.875rem;
    color: #fff;
  }
  &__companies-text {
    margin-bottom: 2rem;
  }
  &__companies-img {
    display: flex;
    justify-content: space-between;
  }
  &__compnaies-other {
    width: 10rem;
    font-weight: 300;
    font-size: 1.125rem;
  }
}